<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/global.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
			crossorigin="anonymous"
		/>
		<title>Serve the Planet | Create Opportunity</title>
	</head>
	<body>
		<div class="container register">
			<div class="card logo">
				<h2>
					<i class="fab fa-connectdevelop"></i> <span>Serve</span> the
					Planet
				</h2>
				<br />
				<h3>Create opportunity for orgName</h3>
				<br />
				{{!-- start of form --}}
				<div class="my-1">
					<form action="createOpportunity" method="POST">
						<div class="splitcol-2 flex">
							<div class="forminput flex flex-col">
								<label for="name">ORGANIZATION NAME</label>
								<input
									type="text"
									name="orgName"
									required
									placeholder="Enter your Organization name"
								/>
							</div>
							<div class="forminput flex flex-col">
								<label for="username">TITLE OF OPPORTUNITY</label>
								<input
									type="text"
									name="title"
									placeholder="Enter title of the opportunity"
									required
									wrap
								/>
							</div>
						</div>
{{!-- text area for job description --}}
							<div class="forminput flex flex-col">
								<label for="pwd">JOB DESCRIPTION</label>
								<textarea
									name="jobDescription" rows="4"
									placeholder="Enter job description of the opportunity"
									required></textarea>
							</div>
{{!-- volunteer required --}}
						<div class="splitcol-2 flex">
							<div class="forminput flex flex-col">
								<label for="country">COUNTRY</label>
								<div class="custom-select flex flex-col">
									<select name="country" id="country">
										<option value="India">India</option>
										<option value="Canada">Canada</option>
										<option value="USA">
											United States
										</option>
									</select>
									<span class="custom-arrow"
										><i class="fas fa-angle-down"></i
									></span>
								</div>
							</div>
							<div class="forminput flex flex-col">
								<label for="username">CITY</label>
								<input
									type="text"
									name="city"
									placeholder="Enter city"
									required
								/>
							</div>
						</div>
						<p class="py-1 registerMessage">
							{{#if registerMessage}}
							<span>{{registerMessage}}</span>
							{{/if}}</p>

						<button type="submit" class="btn">Register</button>
					</form>
				</div>
				{{!-- end of form --}}
				<div id="acclogin">
					<p>
						<a href="/login" target="_blank"
							>Already have an account? Login
							<i class="fas fa-angle-right"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
