<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/global.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
			integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
			crossorigin="anonymous"
		/>
		<title>Serve the Planet | Create Opportunity</title>
	</head>
	<body>
		<div class="container register">
			<div class="card logo">
				{{!-- logo --}}
				<div class="createOpp logo">
								<div class="logoimage">
									<img src={{idImgUrl}} alt="Image of ID" />
								</div>
							</div>
				{{!-- header --}}
				<h2>
					<i class="fab fa-connectdevelop"></i> <span>Serve</span> the
					Planet
				</h2>
				<br />
				<h3>Create volunteering opportunity</h3>
				<br />
				{{!-- start of form --}}
				<div class="my-1">
					<form action="createOpportunity" method="POST">
						{{!-- <div class="splitcol-2 flex">
							<div class="forminput flex flex-col">
								<label for="name">ORGANIZATION NAME</label>
								<input
									type="text"
									name="orgName"
									required
									placeholder="Enter your Organization name"
								/>
							</div> --}}
							<div class="forminput flex flex-col">
								<label for="username">TITLE OF OPPORTUNITY</label>
								<input
									type="text"
									name="title"
									placeholder="Enter title of the opportunity"
									required
									wrap
								/>
							</div>
						{{!-- </div> --}}
{{!-- text area for job description --}}
							<div class="forminput flex flex-col">
								<label for="pwd">JOB DESCRIPTION</label>
								<textarea
									name="jobDescription" rows="4"
									placeholder="Enter job description of the opportunity"
									required></textarea>
							</div>
{{!-- volunteer required --}}
						<div class="splitcol-2 my-1 flex">
							<div class="forminput flex flex-col">
								<label for="username">VOLUNTEERS REQUIRED</label>
								<input
									type="number"
									name="volunteerRequired"
									placeholder="Enter number of volunteers required "
									required
									wrap
								/>
							</div>
							<div class="forminput flex flex-col">
								<label for="username">TIME COMMITMENT</label>
								<input
									type="text"
									name="timeCommitment"
									placeholder="Enter time commitment e.g. 5 hrs/week"
									required
									wrap
								/>
							</div>
						</div>
{{!-- time and duration --}}
					<div class="splitcol-2 flex">
							<div class="forminput flex flex-col">
								<label for="username">TIME COMMITMENT TYPE</label>
								<div class="custom-select flex flex-col">
									<select name="timeCommitmentType" id="timeCommitmentType">
										<option> Select time commitment type  </option>
										<option value="all">All</option>
										<option value="onetime">One time</option>
										<option value="shortterm">
											Short Term </option>
											<option value="longterm">
											Long Term </option>
										</select>
									<span class="custom-arrow"
										><i class="fas fa-angle-down"></i
									></span>
								</div>
							</div>
							<div class="forminput flex flex-col">
								<label for="username">TIME DURATION</label>
								<input
									type="text"
									name="timeDuration"
									placeholder="Duration of work e.g. 1 year, 6 months"
									required
									wrap
								/>
							</div>
						</div>

{{!-- activity type and volunteer cause type --}}

<div class="splitcol-2 my-1 flex">
							<div class="forminput flex flex-col">
								<label for="activityType">TYPE OF ACTIVITY</label>
								<div class="custom-select flex flex-col">
									<select name="activityType" id="activityType">
										<option> Enter type of activity </option>
										<option value="systemssupport">System Support</option>
										<option value="accounting">Accounting</option>
										<option value="legal">
											Legal </option>
											<option value="orgleadership">Org Leadership</option>
											<option value="research">Research</option>
										</select>
									<span class="custom-arrow"
										><i class="fas fa-angle-down"></i
									></span>
								</div>
							</div>
							<div class="forminput flex flex-col">
								<label for="volunteerCauseType">TYPE OF VOLUNTEERING CAUSE</label>
								<div class="custom-select flex flex-col">
								<select name="volunteerCauseType" id="volunteerCauseType">
										<option> Type of volunteering cause </option>
										<option value="emergency">Emergency Services</option>
										<option value="swacchbharat">Swacch Bharat</option>
										<option value="environment">
											Environment</option>
											<option value="animalcare">
											Animal Care</option>
											<option value="teaching">
											Teaching</option>
										</select>
									<span class="custom-arrow"
										><i class="fas fa-angle-down"></i
									></span>
									</div>
								</div>
							</div>

{{!-- location of work - state and city --}}
						<div class="splitcol-2 flex">
							<div class="forminput flex flex-col">
								<label for="state">STATE</label>
								<div class="custom-select flex flex-col">
									<select name="state" id="state">
										<option> Enter location (state) </option>
										<option value="JH">Jharkhand</option>
										<option value="KA">Karnataka</option>
										<option value="MH">
											Maharashtra </option>
										</select>
									<span class="custom-arrow"
										><i class="fas fa-angle-down"></i
									></span>
								</div>
							</div>
							<div class="forminput flex flex-col">
								<label for="city">CITY</label>
								<div class="custom-select flex flex-col">
								<select name="city" id="city">
										<option> Enter location (city) </option>
										<option value="jamshedpur">Jamshedpur</option>
										<option value="bangalore">Bangalore</option>
										<option value="mumbai">
											Mumbai</option>
											<option value="pune">
											Pune</option>
										</select>
									<span class="custom-arrow"
										><i class="fas fa-angle-down"></i
									></span>
									</div>
								</div>
							</div>
						</div>
						{{!-- message placeholder --}}
						<p class="py-1 registerMessage">
							{{#if registerMessage}}
							<span>{{registerMessage}}</span>
							{{/if}}</p>

						<button type="submit" class="btn">Save Opportunity</button>
					</form>
				</div>
				{{!-- end of form --}}
				
			</div>
		</div>
	</body>
</html>
