<section class="intro flex">
			<div class="introstatement flex">
				<h1>Welcome to the joy of <span>giving</span></h1>
				<q
					>I slept and dreamt <br />
					that life was joy. <br />
					I awoke and saw <br />
					that life was service. <br />
					I acted and behold, <br />
					service was joy.
				</q>
				<br />
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---Rabindranath
					Tagore
				</p>
			</div>
			<div class="introimg">
				<img src="./img/thanks-1.jpg" alt="" />
			</div>
		</section>
		<div class="temp">
			{{nuser}}
		</div>

		<!-- Browse section -->
		<section class="browse flex flex-speven">
			<h3>
				<a href="./opportunities" target="_blank"
					>Explore Opportunities</a
				>
			</h3>
			<h3>
				<a href="./orgs" target="_blank"> Explore Organizations</a>
			</h3>
		</section>